@tailwind base;
@tailwind components;
@tailwind utilities;

nav, team-card {
    box-shadow: 0px 3px 5px 0px rgba(255, 255, 255, 0.7);
}


nav a {
    transition: text-shadow 0.3s;
}

nav a:hover {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff;
}

.hamburger {
    cursor:pointer;
    width:24px;
    height:24px;
    transition: all 0.25s;
    position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: #FFF;
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger-middle {
    transform: translateY(7px);
}

.hamburger-bottom {
    transform: translateY(14px);
}

#menu {
    opacity: 0;
    transition: opacity 0.5s;
}

#menu.active {
    opacity:1;
}

.open {
    transform: rotate(90deg);
    transform: translateY(0px);
}

.open .hamburger-top {
    transform: translateY(6px) translateX(6px) rotate(45deg);
}

.open .hamburger-middle {
    display: none;
}

.open .hamburger-bottom {
    transform: translateY(6px) translateX(6px) rotate(-45deg);
}

