body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #004085;
    color: white;
    text-align: center;
    padding: 10px 0;
}

main {
    margin: 20px;
}

section {
    background-color: white;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 5px 0;
}
